[submodule "hugo-theme-hello-friend"]
	path = hugo-theme-hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/hugo-theme-yinyang"]
	path = themes/hugo-theme-yinyang
	url = https://github.com/joway/hugo-theme-yinyang.git
[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = https://github.com/laozhu/hugo-nuo.git
[submodule "themes/hugo-theme-base16"]
	path = themes/hugo-theme-base16
	url = https://github.com/butlerx/hugo-theme-base16.git
[submodule "themes/hugo-theme-terminal"]
	path = themes/hugo-theme-terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/hugo-theme-hello-friend"]
	path = themes/hugo-theme-hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/hugo-theme-hello-friend-ng"]
	path = themes/hugo-theme-hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
